/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .profile-drawer{
    width: 75% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .profile-drawer{
    width: 75% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .profile-drawer{
    width: 50% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .profile-drawer{
    width: 25% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .profile-drawer{
    width: 25% !important;
  }
}
